In [136]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import sklearn as sklearn
from sklearn.model_selection import train_test_split
from sklearn import metrics
from IPython.display import clear_output
from sklearn.metrics import roc_curve, roc_auc_score, auc
from tensorflow import feature_column
from tensorflow import keras

In [162]:
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

In [207]:
data_train = pd.read_csv('data_antrenare.csv')

In [208]:
data_test = pd.read_csv('date_testare.csv')

In [209]:
data_train.head()

   Nr. crt  Systolic pressure (mmHg) Diastolic pressure    BPM  Heart attack
0      NaN                       NaN             (mmHg)    NaN           NaN
1      1.0                     120.0                 80   70.0           0.0
2      2.0                     160.0                110  180.0           1.0
3      3.0                     165.0                 90  110.0           0.0
4      4.0                     180.0                130  150.0           1.0

In [210]:
data_train=data_train.drop("Nr. crt", axis='columns')

In [211]:
data_train=data_train.drop(0, axis=0)

In [212]:
data_train.head()

   Systolic pressure (mmHg) Diastolic pressure    BPM  Heart attack
1                     120.0                 80   70.0           0.0
2                     160.0                110  180.0           1.0
3                     165.0                 90  110.0           0.0
4                     180.0                130  150.0           1.0
5                     190.0                 88   68.0           0.0

In [213]:
#data_train = data_train.apply(pd.to_numeric, errors='coerce')

In [214]:
data_test.head()

   Nr. crt  Systolic pressure (mmHg) Diastolic pressure    BPM  Heart attack
0      NaN                       NaN             (mmHg)    NaN           NaN
1      1.0                     122.0                 80   70.0           0.0
2      2.0                     153.0                110  180.0           1.0
3      3.0                     162.0                 90  110.0           0.0
4      4.0                     183.0                130  150.0           1.0

In [215]:
data_test=data_test.drop("Nr. crt", axis='columns')

In [216]:
data_test=data_test.drop(0, axis=0)

In [217]:
data_test.head()

   Systolic pressure (mmHg) Diastolic pressure    BPM  Heart attack
1                     122.0                 80   70.0           0.0
2                     153.0                110  180.0           1.0
3                     162.0                 90  110.0           0.0
4                     183.0                130  150.0           1.0
5                     188.0                 85   68.0           0.0

In [218]:
data_train = data_train.astype(float)

In [225]:
x = data_train.drop("Heart attack", axis='columns')
y = data_train['Heart attack']

In [226]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [227]:
model = keras.Sequential([
    keras.layers.Dense(25, activation='relu', input_shape=(3,)),
    keras.layers.Dense(1, activation='sigmoid')
])

In [228]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [229]:
history = model.fit(x_train, y_train, epochs=50, batch_size=50, validation_split=0.2)

Epoch 1/50
1/1 [==============================] - 1s 860ms/step - loss: 2.7764 - accuracy: 0.4848 - val_loss: 1.5117 - val_accuracy: 0.7778
Epoch 2/50
1/1 [==============================] - 0s 23ms/step - loss: 1.8042 - accuracy: 0.5455 - val_loss: 1.2311 - val_accuracy: 0.5556
Epoch 3/50
1/1 [==============================] - 0s 26ms/step - loss: 1.3426 - accuracy: 0.5455 - val_loss: 1.3100 - val_accuracy: 0.3333
Epoch 4/50
1/1 [==============================] - 0s 24ms/step - loss: 1.2676 - accuracy: 0.6667 - val_loss: 1.6057 - val_accuracy: 0.2222
Epoch 5/50
1/1 [==============================] - 0s 24ms/step - loss: 1.4034 - accuracy: 0.6364 - val_loss: 1.8635 - val_accuracy: 0.2222
Epoch 6/50
1/1 [==============================] - 0s 34ms/step - loss: 1.5490 - accuracy: 0.6364 - val_loss: 1.9866 - val_accuracy: 0.3333
Epoch 7/50
1/1 [==============================] - 0s 30ms/step - loss: 1.6237 - accuracy: 0.6061 - val_loss: 1.9648 - val_accuracy: 0.3333
Epoch 8/50
1/1 [==============================] - 0s 33ms/step - loss: 1.6211 - accuracy: 0.6061 - val_loss: 1.8245 - val_accuracy: 0.3333
Epoch 9/50
1/1 [==============================] - 0s 25ms/step - loss: 1.5561 - accuracy: 0.6364 - val_loss: 1.6061 - val_accuracy: 0.2222
Epoch 10/50
1/1 [==============================] - 0s 28ms/step - loss: 1.4494 - accuracy: 0.6667 - val_loss: 1.3576 - val_accuracy: 0.2222
Epoch 11/50
1/1 [==============================] - 0s 22ms/step - loss: 1.3266 - accuracy: 0.6364 - val_loss: 1.1346 - val_accuracy: 0.3333
Epoch 12/50
1/1 [==============================] - 0s 21ms/step - loss: 1.2177 - accuracy: 0.6667 - val_loss: 0.9879 - val_accuracy: 0.4444
Epoch 13/50
1/1 [==============================] - 0s 23ms/step - loss: 1.1543 - accuracy: 0.6061 - val_loss: 0.9352 - val_accuracy: 0.4444
Epoch 14/50
1/1 [==============================] - 0s 21ms/step - loss: 1.1505 - accuracy: 0.6061 - val_loss: 0.9449 - val_accuracy: 0.5556
Epoch 15/50
1/1 [==============================] - 0s 24ms/step - loss: 1.1893 - accuracy: 0.5758 - val_loss: 0.9683 - val_accuracy: 0.7778
Epoch 16/50
1/1 [==============================] - 0s 20ms/step - loss: 1.2355 - accuracy: 0.5758 - val_loss: 0.9701 - val_accuracy: 0.7778
Epoch 17/50
1/1 [==============================] - 0s 22ms/step - loss: 1.2562 - accuracy: 0.6061 - val_loss: 0.9369 - val_accuracy: 0.7778
Epoch 18/50
1/1 [==============================] - 0s 25ms/step - loss: 1.2377 - accuracy: 0.6061 - val_loss: 0.8739 - val_accuracy: 0.7778
Epoch 19/50
1/1 [==============================] - 0s 26ms/step - loss: 1.1880 - accuracy: 0.5758 - val_loss: 0.7982 - val_accuracy: 0.7778
Epoch 20/50
1/1 [==============================] - 0s 21ms/step - loss: 1.1286 - accuracy: 0.5455 - val_loss: 0.7324 - val_accuracy: 0.5556
Epoch 21/50
1/1 [==============================] - 0s 30ms/step - loss: 1.0825 - accuracy: 0.6364 - val_loss: 0.6957 - val_accuracy: 0.5556
Epoch 22/50
1/1 [==============================] - 0s 26ms/step - loss: 1.0636 - accuracy: 0.6364 - val_loss: 0.6919 - val_accuracy: 0.5556
Epoch 23/50
1/1 [==============================] - 0s 23ms/step - loss: 1.0707 - accuracy: 0.6364 - val_loss: 0.7057 - val_accuracy: 0.5556
Epoch 24/50
1/1 [==============================] - 0s 25ms/step - loss: 1.0884 - accuracy: 0.6364 - val_loss: 0.7151 - val_accuracy: 0.5556
Epoch 25/50
1/1 [==============================] - 0s 25ms/step - loss: 1.1013 - accuracy: 0.6667 - val_loss: 0.7053 - val_accuracy: 0.5556
Epoch 26/50
1/1 [==============================] - 0s 25ms/step - loss: 1.1009 - accuracy: 0.6667 - val_loss: 0.6736 - val_accuracy: 0.5556
Epoch 27/50
1/1 [==============================] - 0s 23ms/step - loss: 1.0857 - accuracy: 0.6667 - val_loss: 0.6280 - val_accuracy: 0.5556
Epoch 28/50
1/1 [==============================] - 0s 27ms/step - loss: 1.0604 - accuracy: 0.6364 - val_loss: 0.5826 - val_accuracy: 0.5556
Epoch 29/50
1/1 [==============================] - 0s 25ms/step - loss: 1.0329 - accuracy: 0.6364 - val_loss: 0.5512 - val_accuracy: 0.6667
Epoch 30/50
1/1 [==============================] - 0s 21ms/step - loss: 1.0123 - accuracy: 0.6364 - val_loss: 0.5398 - val_accuracy: 0.6667
Epoch 31/50
1/1 [==============================] - 0s 26ms/step - loss: 1.0044 - accuracy: 0.6364 - val_loss: 0.5432 - val_accuracy: 0.7778
Epoch 32/50
1/1 [==============================] - 0s 27ms/step - loss: 1.0078 - accuracy: 0.6364 - val_loss: 0.5492 - val_accuracy: 0.7778
Epoch 33/50
1/1 [==============================] - 0s 26ms/step - loss: 1.0141 - accuracy: 0.6061 - val_loss: 0.5470 - val_accuracy: 0.7778
Epoch 34/50
1/1 [==============================] - 0s 26ms/step - loss: 1.0140 - accuracy: 0.6061 - val_loss: 0.5328 - val_accuracy: 0.7778
Epoch 35/50
1/1 [==============================] - 0s 22ms/step - loss: 1.0035 - accuracy: 0.5758 - val_loss: 0.5106 - val_accuracy: 0.7778
Epoch 36/50
1/1 [==============================] - 0s 23ms/step - loss: 0.9861 - accuracy: 0.6364 - val_loss: 0.4894 - val_accuracy: 0.7778
Epoch 37/50
1/1 [==============================] - 0s 22ms/step - loss: 0.9690 - accuracy: 0.6667 - val_loss: 0.4773 - val_accuracy: 0.7778
Epoch 38/50
1/1 [==============================] - 0s 25ms/step - loss: 0.9581 - accuracy: 0.6364 - val_loss: 0.4762 - val_accuracy: 0.7778
Epoch 39/50
1/1 [==============================] - 0s 24ms/step - loss: 0.9542 - accuracy: 0.6667 - val_loss: 0.4816 - val_accuracy: 0.6667
Epoch 40/50
1/1 [==============================] - 0s 24ms/step - loss: 0.9535 - accuracy: 0.6364 - val_loss: 0.4861 - val_accuracy: 0.7778
Epoch 41/50
1/1 [==============================] - 0s 25ms/step - loss: 0.9515 - accuracy: 0.6667 - val_loss: 0.4847 - val_accuracy: 0.7778
Epoch 42/50
1/1 [==============================] - 0s 24ms/step - loss: 0.9452 - accuracy: 0.6667 - val_loss: 0.4770 - val_accuracy: 0.7778
Epoch 43/50
1/1 [==============================] - 0s 26ms/step - loss: 0.9348 - accuracy: 0.6667 - val_loss: 0.4663 - val_accuracy: 0.7778
Epoch 44/50
1/1 [==============================] - 0s 25ms/step - loss: 0.9225 - accuracy: 0.6667 - val_loss: 0.4572 - val_accuracy: 0.7778
Epoch 45/50
1/1 [==============================] - 0s 24ms/step - loss: 0.9120 - accuracy: 0.6667 - val_loss: 0.4525 - val_accuracy: 0.7778
Epoch 46/50
1/1 [==============================] - 0s 27ms/step - loss: 0.9054 - accuracy: 0.6667 - val_loss: 0.4517 - val_accuracy: 0.7778
Epoch 47/50
1/1 [==============================] - 0s 25ms/step - loss: 0.9019 - accuracy: 0.6364 - val_loss: 0.4521 - val_accuracy: 0.7778
Epoch 48/50
1/1 [==============================] - 0s 26ms/step - loss: 0.8987 - accuracy: 0.6364 - val_loss: 0.4512 - val_accuracy: 0.7778
Epoch 49/50
1/1 [==============================] - 0s 23ms/step - loss: 0.8931 - accuracy: 0.6364 - val_loss: 0.4490 - val_accuracy: 0.8889
Epoch 50/50
1/1 [==============================] - 0s 24ms/step - loss: 0.8848 - accuracy: 0.6364 - val_loss: 0.4479 - val_accuracy: 0.7778

In [230]:
test_loss, test_acc = model.evaluate(x_test, y_test)
print('Test accuracy:', test_acc)

1/1 [==============================] - 0s 18ms/step - loss: 1.0946 - accuracy: 0.6111
Test accuracy: 0.6111111044883728

In [231]:
data_test = data_test.astype(float)

In [232]:
data_test.head()

   Systolic pressure (mmHg)  Diastolic pressure    BPM  Heart attack
1                     122.0                80.0   70.0           0.0
2                     153.0               110.0  180.0           1.0
3                     162.0                90.0  110.0           0.0
4                     183.0               130.0  150.0           1.0
5                     188.0                85.0   68.0           0.0

In [234]:
x_data_test = data_test.drop("Heart attack", axis='columns')
#y_data_test = data_test['Heart attack']

In [235]:
predictions = model.predict(x)
threshold = 0.5
binary_predictions = (predictions >= threshold).astype(int)
for i in range(5):
    print("Vector {}: {}".format(i+1, binary_predictions[i]))

2/2 [==============================] - 0s 2ms/step
Vector 1: [0]
Vector 2: [1]
Vector 3: [0]
Vector 4: [1]
Vector 5: [0]

In [237]:
# Calculate MSE for the first 5 vectors
mse = mean_squared_error(y_test[:5], binary_predictions[:5])

print("Mean Squared Error (MSE): {:.2f}".format(mse))

Mean Squared Error (MSE): 0.40

In [192]:
# Assuming you have already trained your model and obtained the x_test and y_test data

# Make predictions on the test set
y_pred_prob = model.predict(x_data_test)
y_pred = (y_pred_prob >= 0.5).astype(int)  # Convert probabilities to class labels using a threshold

# Compute the classification error
misclassified = np.sum(y_pred.flatten() != y_test.values.flatten())
classification_error = misclassified / len(y_test)

print("Classification error: {:.2%}".format(classification_error))

1/1 [==============================] - 0s 13ms/step
Classification error: 5.56%

C:\Users\brian\AppData\Local\Temp\ipykernel_19156\776597830.py:8: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.
  misclassified = np.sum(y_pred.flatten() != y_test.values.flatten())